{
  "sourceMaps": "both",
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "chrome": 52,
          "firefox": 45,
          "edge": 13,
          "safari": 9,
          "node": 6
        }
      }
    ],
    "react",
    "stage-3"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime"
      ],
      "presets": [
        "react-optimize"
      ]
    },
    "sourceMaps": false
  }
}