{
  "sourceMaps": "both",
  "presets": [
    [
      "env",
      {
        "modules": false,
        "browsers": [
          "last 2 Chrome versions",
          "last 5 Firefox versions"
        ]
      }
    ],
    "react",
    "stage-3"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "minify-empty-function",
        "transform-inline-environment-variables",
        "transform-node-env-inline",
        "transform-remove-console",
        "transform-remove-debugger"
      ],
      "presets": [
        "react-optimize"
      ]
    },
    "sourceMaps": false
  }
}