{
  "sourceMaps": "both",
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-3"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime"
      ],
      "presets": [
        "react-optimize"
      ]
    },
    "sourceMaps": false
  }
}