{
  "extends": "./node_modules/@hollowverse/config/.stylelintrc",
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "ignore": ["css-featurequeries", "outline", "css-appearance", "viewport-units"]
    }]
  }
}