.root {
  display: flex;
  flex-direction: column;
}

.list {
  flex-grow: 1;
  overflow-y: scroll;
}

.list_item {
  &_highlighted {
    background-color: lightblue;
  }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.icon_pending__evaluating {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}