.root {
  // @TODO: Load font 
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  flex-grow: 1;
  .menu {

  }


  .command_palette {

  }

  .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .main {
    flex-grow: 1;
    flex-basis: 75%;
  }

  .sidebar {
    width: 25vw;
    max-width: 25vw;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    .selector {
      flex-grow: 0;
      width: 100%;
    }
    .stepper {
      flex-grow: 1;
    }
  }

}
