.root {
  // @TODO: Load font
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-height: 100vh;
}

.root_loading {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  flex-grow: 1;
  overflow: hidden;
  .menu {
  }

  .command_palette {
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .main {
    flex-grow: 1;
    flex-basis: 75%;
  }

  .sidebar {
    max-height: 100%;
    overflow: hidden;
    &_hidden {
      display: none;
    }
    width: 25vw;
    max-width: 25vw;
    flex-grow: 0;
    max-height: calc(100% - 50px);

    .selector {
      flex-grow: 0;
      width: 100%;
    }
    .stepper {
      flex-grow: 1;
      max-height: 100%;
    }
  }
}
