.root {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.editor {
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
}