.root {
  overflow: scroll;
  display: flex;
  background-color: #272727;
  max-height: 100vh;
}

.lens {
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}
