$default-transition-duration: 0.3s;

.root {
  will-change: opacity;
  transition-property: opacity;
  transition-duration: $default-transition-duration;
  transition-timing-function: ease-out;
  transition-delay: 0.1s;
}

.appear, .leaveActive {
  @extend .root;
  opacity: 0;
}

.appearActive, .leave {
  @extend .root;
  opacity: 1;
}
