$default-transition-duration: 0.3s;

.root {
  will-change: transform, opacity;
  transition-property: transform, opacity;
  transition-duration: $default-transition-duration;
  transition-timing-function: ease-out;
}

.appear {
  @extend .root;
  transform: scale(2.5) rotate(25deg);
  opacity: 0;
  &Active {
    @extend .root;
    opacity: 1;
    transform: scale(1);
  }
}
